<div>
    <br>
    <br>
    <br>
    <div>
      <img src="/images/Bretling/Bretlin1.jpeg" width="23%" style="display:inline;">
      <div style="display:inline;width:5px;"></div>
      <img src="/images/Bretling/Bretlin2.jpeg" width="23%" style="display:inline;">
      <div style="display:inline;width:5px;"></div>
      <img src="/images/Bretling/Bretlin3.jpeg" width="23%" style="display:inline;">
      <div style="display:inline;width:5px;"></div>
      <img src="/images/Bretling/Bretlin4.jpeg" width="23%" style="display:inline;">
    </div>  
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div>
      <img src="/images/Bretling/Bretlin5.jpeg" width="24%" style="display:inline;">
      <div style="display:inline;width:5px;"></div>
      <img src="/images/Bretling/Bretlin6.jpeg" width="24%" style="display:inline;">
      <div style="display:inline;width:5px;"></div>
      <img src="/images/Bretling/Bretlin7.jpeg" width="24%" style="display:inline;">
      <div style="display:inline;width:5px;"></div>
      <img src="/images/Bretling/Bretlin8.jpeg" width="24%" style="display:inline;">
    </div>  
  </div>