<h1>FinancialCalculator</h1>
<form method="post" action="/FinancialCalculator">
  Money you want to spend <input type="number" name="spend" />
  <br />
  Monthly income <input type="number" name="income" />
  <br />
  Money Down <input type="number" name="down" />
  <br />
  <input type="submit" />
</form>


