<div>
    <br>
    <br>
    <br>
    <div>
      <img src="/images/TagHuer/Tag1.jpeg" width="23%" style="display:inline;">
      <div style="display:inline;width:5px;"></div>
      <img src="/images/TagHuer/Tag2.jpeg" width="23%" style="display:inline;">
      <div style="display:inline;width:5px;"></div>
      <img src="/images/TagHuer/Tag3.jpeg" width="23%" style="display:inline;">
      <div style="display:inline;width:5px;"></div>
      <img src="/images/TagHuer/Tag4.jpeg" width="23%" style="display:inline;">
    </div>  
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div>
      <img src="/images/TagHuer/Tag5.jpeg" width="24%" style="display:inline;">
      <div style="display:inline;width:5px;"></div>
      <img src="/images/TagHuer/Tag6.jpeg" width="24%" style="display:inline;">
      <div style="display:inline;width:5px;"></div>
      <img src="/images/TagHuer/Tag7.jpeg" width="24%" style="display:inline;">
      <div style="display:inline;width:5px;"></div>
      <img src="/images/TagHuer/Tag8.jpeg" width="24%" style="display:inline;">
    </div>  
  </div>